
<br>
<h2 class="has-text-centered has-text-weight-bold is-size-4">EDITAR PACIENTE</h2>
<br>
<div class="columns is-centered">
  <div class="column is-6">
    <div class="container">
 <div class="notification">
  <form action="/auth/edit-patient/{{paciente._id}}" method="post">
  <div class="field">
  <label class="label">Nombre</label>
  <div class="control">
    <input class="input" type="text" name="name" value="{{paciente.name}}">
  </div>
</div>

<div class="field">
  <label class="label">Apellido</label>
  <div class="control">
    <input class="input" type="text" name="lastName" value="{{paciente.lastName}}">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" type="email" name="email" value="{{paciente.email}}">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Password</label>
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password" name="password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>


  {{#if error}}
  <div class="help is-danger">{{error.message}}</div>
  {{/if}}
  <div class="buttons is-centered">
    <button type="submit" class="button is-primary">Editar</button>
  </div>

</form>
 </div>
</div>
  </div>
</div>