<form action="/auth/edit-colaborador/{{colab._id}}" method="POST">
<img src="{{fotoPerfil}}" alt="">
<br>
<label for="name">Name</label>
<input name="name" type="text" value="{{colab.name}}">
<br>
<label for="lastName">Last Name</label>
<input name="lastName" type="text" value="{{colab.lastName}}">
<br>
<label for="email">Email</label>
<input  name="email" type="email" value="{{colab.email}}">
<br>
<br>
<input type="submit" value="Edit colaborador">


</form>