
{{#if users}}
<h1>COLABORADORES</h1>
<br><br>
<p>Usuario loggeado: {{loggedUser.role}}</p>

<!--{{#equal this.loggedUser.role 'MEDICO'}}-->
<!--{{/equal}}-->
{{#each users}}
<a href="/auth/un-colab/{{this._id}}">{{this.name}} {{this.lastName}}</a>
<br>
<a class="button is-info"href="/auth/edit-colaborador/{{this._id}}">Editar</a>
<br>
<form action="/auth/delete-colaborador/{{this._id}}" method="POST"><button class="button is-danger">Borrar</button></form>
<br>
<br>
{{/each}}
<br><br>
<a class="button is-primary"href="/auth/create-collaborator">Añadir colaborador</a>




{{else}}
<h1>PACIENTES</h1>
<br>
{{#each pacientes}}
<br><br>
<a href="/auth/paciente/{{this._id}}"><p>{{this.name}} {{this.lastName}}</p></a>
<br>
<a href="/auth/edit-patient/{{this._id}}"><button> Editar paciente</button></a>
<br>
<form action="/auth/delete-patient/{{this._id}}" method="POST"><button>Borrar</button></form>
{{/each}}
<br><br>
<a href="/auth/create-patient"><button>Añadir paciente</button></a>
{{/if}}
