{{#if users}}
<br>
<br>
<h1 class="has-text-centered has-text-weight-bold is-size-4">COLABORADORES</h1>

<hr>
<div class=" is-variable is-5 columns is-centered is-mobile">
  <div class="column is-10">
    <div class="columns is-mobile is-multiline is-centered">
      {{#each users}}
      <div class="column is-3">

        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-centered has-background-grey	has-text-white is-subtitle is-size-5">{{this.name}} {{this.lastName}}</p>
            <a href="/auth/un-colab/{{this._id}}" class="card-header-icon has-background-grey	" aria-label="more options">
              <span class="icon">
                <i class="fas fa-plus-square has-text-white" aria-hidden="true"></i>
              </span>
            </a>


          </header>
          <div class="card-content">
            <div class="content centrar">
              <img class="image is-128x128" src="{{this.fotoPerfil}}" alt="">
            </div>
          </div>
          <footer class="uno">
            <div class="center">
               <div class="is-flex is-justify-centered">
              <form action="/auth/delete-colaborador/{{this._id}}" method="POST"><input type="submit" value="Borrar"
                class="card-footer-item has-text-danger my-delete"></form>
              </div>
              <div class="is-flex is-justify-centered">
                <a href="/auth/edit-colaborador/{{this._id}}" class="card-footer-item is-size-5">Editar</a>

              </div>
              
            </div>
          </footer>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="columns is-mobile">
      <div class="column">
        <div class="buttons is-centered">
         <a class="button is-primary is-size-5" href="/auth/create-collaborator"><strong>Añadir colaborador</strong></a>
        </div>
      </div>
    </div>
  </div>
</div>


{{else}}
<br>
<br>
<h1 class="has-text-centered has-text-weight-bold is-size-4">PACIENTES</h1>

<hr>
<div class=" is-variable is-5 columns is-centered is-mobile">
  <div class="column is-10">
    <div class="columns is-mobile is-multiline is-centered">
      {{#each pacientes}}
      <div class="column is-3">

        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-centered has-background-grey	has-text-white is-size-5">{{this.name}} {{this.lastName}}</p>
            <a href="/auth/paciente/{{this._id}}" class="card-header-icon has-background-grey	" aria-label="more options">
              <span class="icon">
                <i class="fas fa-plus-square has-text-white" aria-hidden="true"></i>
              </span>
            </a>


          </header>
          <div class="card-content">
            <div class="content centrar">
              <img class="image is-128x128" src="{{this.fotoPerfil}}" alt="">
            </div>
          </div>
          {{#if ../isDr}}
          <footer class="uno">
            <div class="center">
               <div class="is-flex is-justify-centered">
              <form action="/auth/delete-patient/{{this._id}}" method="POST"><input type="submit" value="Borrar"
                class="card-footer-item has-text-danger my-delete"></form>
              </div> 
              <div class="is-flex is-justify-centered">
                <a href="/auth/edit-patient/{{this._id}}" class="card-footer-item is-size-5">Editar</a>
              </div>
            </div>
          </footer>
          {{/if}}
        </div>
      </div>
      {{/each}}
    </div>
    {{#if isDr}}
    <div class="columns is-mobile">
      <div class="column">
        <div class="buttons is-centered">
         <a class="button is-primary is-size-5" href="/auth/create-patient"><strong>Añadir paciente</strong></a>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</div>
{{/if}}