{{!-- Usa la informacion que tienes en tu modelo. Ej: lastName, name. A exception de _id --}}

<section class='section'>
  <div class="container">
  <div class="columns is-desktop is-centered">

<div class="column is-half">
  <div class="card">
  <div class="card-image">
    <br>
    <p class="has-text-centered has-text-weight-bold is-size-6">Tipo de Usuario: {{user.role}}</p>
    <figure class="image is-128x128 centrar">
  <img class="is-rounded" src="{{fotoPerfil}}">
</figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4 centrar">{{user.name}} {{user.lastName}}</p>
        <p class="subtitle is-6 centrar">{{user.email}}</p>
        
       <article class="message is-primary">
          <div class="message-header">
            <p>Educacion</p>
            <a href="" class="fas fa-edit"></a>
          </div>
          <div class="message-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </article>

        <article class="message is-primary">
          <div class="message-header">
            <p>Experiencia</p>
            <a href="" class="fas fa-edit"></a>
          </div>
          <div class="message-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
          <hr>
        </article>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</section>