{{!-- Usa la informacion que tienes en tu modelo. Ej: lastName, name. A exception de _id --}}

<section class='section'>
  <div class="container">
  <div class="columns is-desktop is-centered">

<div class="column is-half">
  <div class="card">
  <div class="card-image">
    <br>
    <p class="has-text-centered has-text-weight-bold is-size-6">Tipo de Usuario: {{user.role}}</p>
    <br>
<div class="is-flex float-right">
  <a href="/auth/edit-profile" class="card-footer-item is-size-5">Editar</a>
              </div>
    <figure class="image is-128x128 centrar">
  <img class="is-rounded" src="{{user.fotoPerfil}}">
</figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4 centrar">{{user.name}} {{user.lastName}}</p>
        <p class="subtitle is-6 centrar">{{user.email}}</p>
        
        {{#if isDr}}
       <article class="message is-primary">
          <div class="message-header">
            <p>Educacion</p>
          </div>
          <div class="message-body">
            <p>{{user.educacion}}</p>
          </div>
        </article>

        <article class="message is-primary">
          <div class="message-header">
            <p>Experiencia</p>
          </div>
          <div class="message-body">
            <p>{{user.experiencia}}</p>
          </div>
          <hr>
        </article>
        {{/if}}

        {{#if isColab}}
       <article class="message is-primary">
          <div class="message-header">
            <p>Educacion</p>
          </div>
          <div class="message-body">
            <p>{{user.educacion}}</p>
          </div>
        </article>

        <article class="message is-primary">
          <div class="message-header">
            <p>Experiencia</p>
          </div>
          <div class="message-body">
            <p>{{user.experiencia}}</p>
          </div>
          <hr>
        </article>
        {{/if}}

      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</section>